.signup {
  display: flex;
  align-items: center;      /* Center vertically */
  flex-direction: column; 
  height: 100vh;   
}

.signup-div {
  display: flex;
  align-items: center;      /* Center vertically */
  flex-direction: column; 
  height: 100vh;   
}

.rounded-button {
  background-color: rgb(255, 187, 0); 
  color: #333; 
  border: none;
  border-radius: 6px; 
  margin: 5px 2px;
  padding: 8px 16px;
  font-size: 16px; 
  cursor: pointer; 
  transition: background-color 0.3s, transform 0.1s; 
}

.rounded-button:hover {
  background-color: rgb(255, 203, 61); 
}

.rounded-button:active {
  transform: scale(0.95); /* Button scale effect on click */
}

.rounded-input { 
  margin: 5px 2px;
  padding: 8px 16px;
  border: 1px solid #d1d5da; 
  border-radius: 6px; 
  font-size: 16px; 
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; 
  color: #24292e; 
  background-color: #ffffff; 
  transition: border-color 0.2s; 
}

/* Focus state styling */
.rounded-input:focus {
  outline: none; 
  border-color: #000000; 
  box-shadow: 0 0 0 2px rgba(3, 102, 213, 0.2); /* Shadow effect for focus */
}

/* Placeholder styles */
.rounded-input::placeholder {
  color: #6a737d; 
  opacity: 1; 
}

/* Disabled state styling */
.rounded-input:disabled {
  background-color: #f6f8fa; 
  color: #6a737d; 
  border-color: #d1d5da; 
}
